<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="editchain">
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>2</cols>
						<rows>3</rows>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Chain Code</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCODE" variable="TextCode" member="yes">
								<handler function="OnTextCodeTextupdated" entry="EVT_TEXT" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>Chain Name</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_Name" variable="TextName" member="yes">
								<size>293,27</size>
								<handler function="OnTextNameTextupdated" entry="EVT_TEXT" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Chain License Type</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes" />
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
								<label>Chain Trade Channel</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE2" variable="Choice2" member="yes" />
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
								<label>Chain Food Type</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE3" variable="Choice3" member="yes" />
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
								<label>Chain Account Type</label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE4" variable="Choice4" member="yes" />
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_Add" variable="Add" member="yes">
								<label>Add</label>
								<handler function="OnAddClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGrid" name="ID_GRID1" variable="Grid1" member="yes">
								<size>365,183</size>
								<maxsize>-1,200</maxsize>
							</object>
							<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_Delete" variable="Delete" member="yes">
								<label>Delete</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
