<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="editmasters_dialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>1</cols>
						<rows>4</rows>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Edit Masters</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
								<label>States</label>
								<handler function="OnButton1Click" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
								<label>License Types</label>
								<handler function="OnButton2Click" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
								<label>Trade Channels</label>
								<handler function="OnButton3Click" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_acct_type_4" variable="account_type_b" member="yes">
								<label>Account Type</label>
								<handler function="Onaccount_type_bClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_FOODTYPE" variable="food_type" member="yes">
								<label>Food Type</label>
								<handler function="Onfood_typeClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_chain" variable="chain_info" member="yes">
								<label>Chain Info</label>
								<handler function="Onchain_infoClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
